body {
  background: #000;
  text-align: center;
  font-family: 'Bungee', cursive;
}

body p {
  color: #fff;
}
#backBtn{
  position: fixed;
  margin-left: -50%;
  margin-top: 0px;
  background: none;
  border: none;
}
#backBtn img{
  border: 3px solid #000;
  border-radius: 10px;
  height: 15px;
  width: 60px;
}
#backBtn img:hover{
  border: 3px solid #ad0505;
}
#backBtn:focus{
  outline: 0;
}
.border{
  border: 3px solid #fff;
  width: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #014040;
  background: linear-gradient(to bottom, #027373 0% ,#014040 100%);
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 50px;
}

.arrows {
  padding: 0px 25px;
  width: 640px;
  height: 80px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.arrows button {
  all: inherit;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: none;
}

.arrows img {
  width: 60px;
  height: 60px;
}

.arrows img:hover {
  filter: brightness(200%);
  border: 3px #fff solid;
  border-radius: 50%;
  width: 54px;
  height: 54px;
}

.board button {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0;
  margin: 1px 3px;
  background: #000;
}

.board button:hover {
  filter: brightness(65%);
  border: 3px #444 solid;
}

.board button:focus {
  outline: 0;
}

.board button.red {
  background: #ad0505;
  background: linear-gradient(to bottom, #ff1616 0%, #ad0505 100%);
}

.board button.yellow {
  background: #F2C53D;
  background: linear-gradient(to bottom, #067302 0%, #078C03 100%);
}

#rotate {
  background: #FF930D;
  background: linear-gradient(to bottom, #FFB50D 0%, #FF930D 100%);
  display: block;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  border: 3px solid #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: none;
}

.rotate button:hover {
  outline: 0;
}

#hub {
  background: #000;
  color: #fff;
  position: absolute;
  width: 200px;
  height: 300px;
  border: solid 1px #fff;
  border-radius: 50px;
  margin: 200px 1075px;
}

#textTime {
   font-size: 25px;
}

#playerTurn {
  font-size: 20px;
}

#btnQuit {
  background: #000;
  color: #fff;
  position: absolute;
  padding: 25px;
  border: solid 1px #fff;
  border-radius: 50px;
  margin: 550px 460px;
}
