body {
    background: #000;
    text-align: center;
    font-family: 'Bungee', cursive;
}

body p {
    color: #fff;
}

#backBtn {
    position: fixed;
    margin-left: -50%;
    margin-top: 0px;
    background: none;
    border: none;
}

#backBtn img {
    border: 3px solid #000;
    border-radius: 10px;
    height: 15px;
    width: 60px;
}

#backBtn img:hover {
    border: 3px solid #ad0505;
}

#backBtn:focus {
    outline: 0;
}

.border {
    border: 3px solid #fff;
    width: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #014040;
    background: linear-gradient(to bottom, #027373 0%, #014040 100%);
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 50px;
}

.arrows {
    padding: 0px 25px;
    width: 640px;
    height: 80px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.arrows button {
    all: inherit;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
}

.arrows button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.arrows img {
    width: 60px;
    height: 60px;
}

.arrows img:hover {
    filter: brightness(200%);
    border: 3px #fff solid;
    border-radius: 50%;
    width: 54px;
    height: 54px;
}

.board button {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0;
    margin: 1px 3px;
    background: #ccc;
}

.board button:hover {
    filter: brightness(65%);
    border: 3px #444 solid;
}

.board button:focus {
    outline: 0;
}

.board button.red {
    background: #ad0505;
    background: linear-gradient(to bottom, #ff1616 0%, #ad0505 100%);
}

.board button.yellow {
    background: #F2C53D;
    background: linear-gradient(to bottom, #FFF125 0%, #F2C53D 100%);
}

#rotate {
    background: #FF930D;
    background: linear-gradient(to bottom, #FFB50D 0%, #FF930D 100%);
    display: block;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 3px solid #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: none;
}

.rotate button:hover {
    outline: 0;
}

#hubPlayer1 {
    background: linear-gradient(to bottom, #ff1616 0%, #ad0505 100%);
    color: #000;
    position: absolute;
    width: 200px;
    height: 75px;
    border: solid 1px #ad0505;
    border-radius: 50px;
    margin: 100px 0 0 -600px;
}

#hubPlayer2 {
    background: linear-gradient(to bottom, #FFF125 0%, #F2C53D 100%);
    color: #000;
    position: absolute;
    width: 200px;
    height: 75px;
    border: solid 1px #F2C53D;
    border-radius: 50px;
    margin: 100px 0 0 400px;
}

#hubTimer {
    background: #000;
    color: #fff;
    position: absolute;
    width: 200px;
    height: 250px;
    border: solid 1px #fff;
    border-radius: 50px;
    margin: 250px 0 0 400px;
}

#textTime {
    font-size: 25px;
}

#timer {
    font-size: 20px;
    color: #fff;
}

#btnQuit {
    background: #000;
    color: #fff;
    position: absolute;
    padding: 25px;
    border: solid 1px #fff;
    border-radius: 50px;
    margin: 550px 0 0 450px;
}

#dialogoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #fff;
    width: 100%;
    z-index: 10;
}

#dialogbox {
    display: none;
    position: fixed;
    background: #000;
    border-radius: 7px;
    width: 550px;
    z-index: 10;
}

#dialogbox>div {
    background: #FFF;
    margin: 8px;
}

#dialogbox>div>#dialogboxhead {
    background: #666;
    font-size: 19px;
    padding: 10px;
    color: #ccc;
}

#dialogbox>div>#dialogboxbody {
    background: #333;
    padding: 20px;
    color: #fff;
}

#dialogbox>div>#dialogboxfoot {
    background: #666;
    padding: 10px;
    text-align: center;
}

#divTable {
    color: #fff;
}

.winModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.winContainer {
    background: linear-gradient(to bottom, #FFF125 0%, #F2C53D 100%);
    width: 400px;
    height: 250px;
    position: relative;
    margin: 15% auto;
    border-radius: 50px;
    text-align: center;
}

#btnStart,
#playAgain,
#goToScores,
#leave,
#btnBackHome {
    font-family: 'Righteous', cursive;
    border: 1px solid #000;
    align-items: center;
    padding: 15px;
    border-radius: 25px;
    background: #000;
    font-size: 15px;
    color: #fff;
    margin: 10px 0px;
}

#btnStart,
#playAgain,
#goToScores,
#leave,
#btnBackHome:hover {
    cursor: pointer;
}

#firstText,
#winPlayerName {
    border-bottom: solid 1px #000;
    padding: 30px;
    font-size: 25px;
    color: #000;
}