@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body {
    background: black;
    font-family: 'Righteous', cursive;
}

.container {
    background:linear-gradient(to bottom, #FFF125 0%,#F2C53D 100%);
    width: 400px;
    height: 420px;
    position:relative;
    margin:auto;
    margin-top: 100px;
    border-radius: 50px;
    text-align: center;
}

.inputs {
 padding: 20px; 
 margin: 15px 0px;
 font-size: 20px;
 border-radius: 50px;
 border: black 1px solid;
 background: #000;
 color: white;
 font-family: 'Righteous', cursive;
}

.inputs:focus, #btnStart:focus {
 outline: 0;   
}

#firstText {
   border-bottom: solid 1px #000;
    padding: 30px;
    font-size: 25px;
}

#btnStart {
    font-family: 'Righteous', cursive;
    border: 1px solid black;
    align-items: center;
    padding: 15px;
    border-radius: 25px;
    background: #000;
    font-size: 15px;
    color: #fff;
    margin: 10px 0px;
}